.admin-toolbar {
    display: flex;
    background-color: #f5f7f6;
    height: 10vh;
    padding: 1rem;
    justify-content: space-between;
}

.admin-home-content {
    margin: auto;
    background-color: #f5f7f6;
    border-radius: 8px;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

