.admin-toolbar {
    display: flex;
    width: 100%;
    background-color: #cccccc;
    padding: 1rem;
    height: 10vh;
}

.admin-home-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}