.admin-toolbar {
    display: flex;
    width: 100%;
    background-color: #cccccc;
    padding: 1rem;
    height: 10vh;
}

.admin-home-content {
    margin: auto;
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}