.landing-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f7f6;
    border : 1px solid #cccccc;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.login-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

