.login-container {
    background-color: #f5f5f5;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    border : 1px solid #ccc;
    padding-top: 1rem;
}

.login-btn {
    background: #007bff;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 20%;
    cursor: pointer;
}