.login-container {
    background-color: #f5f5f5;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    border : 1px solid #ccc;
    padding-top: 1rem;
}

button { /* remove default styling from buttons*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 0;
}

.btn {
    border-radius: 6px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 15%;
    cursor: pointer;
    font-weight: 550;
    color: white;
    font-family:Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}

.login-btn {
    background-color: #2e6981;
}

.login-btn:hover {
    background-color: #1e4454; /* Darker shade of green */
}

