body {
    margin: 0;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: cadetblue;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 80%;
    gap: 0.5rem;
}

.form-group input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

h1, h2 {
    text-shadow: 2px 3px 15px rgba(17, 17, 17, 0.5);
}

input {
    font-size: 0.9rem;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #2e6981;
    box-shadow: 0 0 0 0.5px #1e4454;
}

button { /* remove default styling from buttons*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    appearance: none;
    border-radius: 0;
}

.btn {
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    margin: 1rem;
    width: 15%;
    min-width: fit-content;
    cursor: pointer;
    font-weight: 550;
    color: white;
    transition: background-color 0.3s ease;
}

.blue-btn {
    background-color: #2e6981;
}

.blue-btn:hover {
    background-color: #1e4454; /* Darker shade of green */
}

label {
    font-size: 1rem;
    font-weight: 700;
}





